.palel-primary
{
    border-color: #bce8f1;
}
.panel-primary>.panel-heading
{
    background:#0881af;
    
}
.panel-primary>.panel-body
{
    background-color: #EDEDED;
}
.alert-danger{
    border: 1px solid red;
}
/* .background {
    background: url('app\login\super.jpg'); 
    
} */